@{
    ViewData["Title"] = "Home Page";
}
@model CreateViewModel

@{ 
    if(Model.ErrMessage != null)
    {
        <div><label asp-for="ErrMessage"></label></div>
    }
}

<form method="post">
    <input type="text" asp-for="Name" />
    <button type="submit">submit</button>
    @for (var i = 0; i < Model.Items.Count; i++)
    {
        @Html.HiddenFor(o => Model.Items[i].ItemId)
        @Html.HiddenFor(o => Model.Items[i].ItemDescription)
    }
</form>

<form method="post" asp-action="Delete">
    @foreach (var item in Model.Items)
    {
        <div>
            <div>@item.ItemDescription</div>
            <button type="submit" value="@item.ItemId" name="Id">x</button>
        </div>
    }

    @for (var i = 0; i < Model.Items.Count; i++)
    {
        <input type="hidden" value="@Model.Items[i].ItemId" name="Items[@i].ItemId" />
        <input type="hidden" value="@Model.Items[i].ItemDescription" name="Items[@i].ItemDescription"/>
    }
</form>